---
layout: post
title: {{ title }}
date: {{ date }}
description: "{{ desc }}"
canonical: {{ canonical }}
tags: {{ tags }}
category: {{ category }}
assets:
  js:
    - {{ js }}
  css:
    - {{ css }}
---

{{ body }}
