---
layout: post
title: {title}
canonical: {original url}
tags: [{array of tags}]
category: {category}
assets:
  js:
    { array of js files, absolute }
  css:
    { array of css files, absolute }
---
